$background-color: #ffffff;
$nav-background-color: #0000001f;
$contrast-color: #0d6efd;
$hover-color: #ffffff;
$box-shadow-color: #00000059;
$border-color: #b4b4b4;
$error-color: #ff0000;
$card-color: #ffffff2a;
$green-color: #00ff00;
$black-color: #000000;
