.request-form {
    margin-top: 3rem;
    background-color: $background-color;
    border-radius: 5px;
    box-shadow: $box-shadow-color 0px 5px 15px;

    h3 {
        display: inline-block;
        padding: 2rem 0 2rem 0;
    }

    .btn-submit {
        font-size: 1.5rem;
        margin: 1rem 0.2rem 1rem 0.2rem;
        border-radius: 5px;
        border: none;
    }

    .form-row {
        margin: 0.5rem 0 0.5rem 0;
    }

    .form-outline {
        padding-left: 0;
    }
}
